name: Run Node.js Script

on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Setup Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: 16

            - name: Install Dependencies
              run: npm install

            - name: Run Script
              run: npx tsc ./main.ts && node ./main.js
